.levels-list {
    margin-top: 30px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    row-gap: 40px;
    column-gap: 35px;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.card {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    padding: 5px;
    border: 1px groove brown;
    border-radius: 5%;
    background-color: rgb(199, 140, 81);

    cursor: pointer;
}

.card-cover {
    width: 95%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    background-color: rgba(213, 203, 192, 0.5);
    border-radius: 5%;
}

.card-title {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}

.card-description {
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
}

.card-game_difficulty {
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
}